<!DOCTYPE html>
<html>
<body>
<h2>Editar</h2>

<form id="f">
Temp (°C): <input id="temp"><br>
Umidade (%): <input id="umid"><br>
<button>Salvar</button>
</form>

<script>
let id = new URLSearchParams(location.search).get("id");

async function load(){
  let r = await fetch("/leituras/"+id);
  let d = await r.json();
  temp.value = d.temperatura;
  umid.value = d.umidade;
}

f.onsubmit = async e=>{
  e.preventDefault();
  await fetch("/leituras/"+id,{
    method:"PUT",
    headers:{"Content-Type":"application/json"},
    body: JSON.stringify({
      temperatura: temp.value,
      umidade: umid.value
    })
  });
  location="historico";
};

load();
</script>

<a href="/historico">Voltar</a>
<br>
<img src="./static/assets/arduino_pensante.png">
</body>
</html>