<!DOCTYPE html>
<html>
<body>
<h2>Últimas Leituras</h2>

<table border="1">
<thead>
<tr><th>ID</th><th>Temp<img src="./static/assets/termometro.png" width="30px"></th><th>Umidade<img src="./static/assets/umidade.png" width="30px"></th><th>Timestamp</th></tr>
</thead>
<tbody id="t"></tbody>
</table>
<img src="./static/assets/arduino.png">

<script>
async function load(){
  let r = await fetch("/");
  let d = await r.json();
  let t = document.getElementById("t");
  t.innerHTML="";
  d.forEach(l=>{
    t.innerHTML += `<tr>
      <td>${l.id}</td>
      <td>${l.temperatura}°F</td>
      <td>${l.umidade}</td>
      <td>${l.timestamp}</td>
    </tr>`;
  });
}
load();
setInterval(load,500);
</script>

<a href="/historico">Histórico</a>
</body>
</html>